.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1.5rem;
  min-height: 100%;
  width: 100%;
}

.heroText {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem 0;
}

@media (max-width: 666px) {
  .heroText {
    grid-column-end: 4;
    padding: 3rem 0;
  }
}

.heroText > * + * {
  margin-top: 0.5rem;
}

.heroText > h2 {
  height: fit-content;
}

.heroText > p {
  font-size: 0.8rem;
}

.threePartWrapper {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem;
}

.threePartWrapper > div {
  width: 25%;
}

@media (max-width: 666px) {
  .threePartWrapper {
    flex-direction: column;
    grid-row-gap: 2.5rem;
  }

  .threePartWrapper > div {
    width: auto;
    /* max-width: 13rem; */
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}